<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span>All employees in the company
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let employee of employees">
                            <div>
                                <label>
                                    {{employee.name}}
                                </label><br>
                                <label>
                                    <div *ngIf="employee.leaves.toDate==null" class="text-success"> Active </div>
                                    <div *ngIf="employee.leaves.toDate!=null" class="text-danger"> On Leave</div>
                                </label>
                            </div>
                            <div class="pull-right action-buttons">
                                <a class="btn" (click)="editLeave(employee)"><span class="glyphicon glyphicon-pencil"></span></a><br>
                                
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

