<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->


    <!-- Login Form -->
    <form [formGroup]="registerForm">
      <input type="text"  class="fadeIn second" placeholder="username" formControlName="userName">
      <input type="text" class="fadeIn third" placeholder="password" formControlName="password">
      <input type="submit" (click)="login()" class="fadeIn fourth" value="Log In">
    </form>  
  </div>
</div></div>
